- require 'cgi'

- site_path = @cms_index.url(relative: false)

%h2
  = link_to @cms_index.page.label, site_path

- @archive_pages.each do |page|
  %h3
    = link_to page.label, page.url
  .date
    = page.published_at(@cms_index.datetime_fragment).to_s(:db)

= comfy_paginate @archive_pages

%h4 Archives
- dates = @cms_index.children(true).chronologically(@cms_index.datetime_fragment).group(:year, :month).unscope(:order).order(year: :desc, month: :desc).pluck("YEAR(comfy_cms_fragments.datetime) as year, MONTH(comfy_cms_fragments.datetime) as month")
- dates.each do |(year, month)|
  %li
    - date = [I18n.t("date.month_names")[month.to_i], year].join(" ")
    = link_to date, comfy_archive_pages_of_month_path(site_path, year: year, month: month)

%h4 Categories
- @cms_index.categories(true).each do |category|
  = link_to category.label, comfy_archive_pages_of_category_path(site_path, category: CGI.escape(category.label))
