= comfy_admin_partial "comfy/admin/archive/partials/index_form_before", form: form

= form.text_field :label

- if (options = ::Comfy::Cms::Page.options_for_select(site: @site, current_page: @index.page, exclude_self: false)).present?
  = form.select :page_id, options, bootstrap: {custom_control: true}

= form.text_field :datetime_fragment

= comfy_admin_partial "comfy/admin/archive/partials/index_form_after", form: form

= form.form_actions do
  = submit_tag t(@index.new_record? ? ".create" : ".update"), class: "btn btn-primary ml-sm-1", data: {disable_with: false}
  = link_to t(".cancel"), comfy_admin_archive_indices_path(@site, @index), class: "btn btn-link"
